<div class= "container">
  <header class= "jumbotron">
    {{#link-to 'index'}}<h1>FORA</h1>{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>
    <p>Our representatives would love to help!</p>
  </footer>
</div>
