<div class= "container">
  <header class= "jumbotron">
    <a href="/"><h1>FORA</h1></a>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <p>Our representatives would love to help!</p>
  </footer>
</div>
