<h2>Welcome to Fora!</h2>

<h3>What's your Question....Ask anything!</h3>

{{new-question saveQuestion2="saveQuestion3"}}

<h3>Your Questions:</h3>

<ul>
  {{#each model.questions as |question|}}
    {{large-answers question}}{{question-tile question=question}}
  {{/each}}
</ul>

{{outlet}}
